@charset "UTF-8";
.str0 {stroke:#1F1A17;stroke-width:0.0762}
.str1 {stroke:#DA251D;stroke-width:0.2}
.fil0 {fill:white}
.fil2 {fill:#1F1A17;fill-rule:nonzero}
.fil1 {fill:#DA251D;fill-rule:nonzero}
.fil3 {fill:white;fill-rule:nonzero}
