<?xml version="1.0"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. на странице
  https://go.microsoft.com/fwlink/?LinkId=169433.
  -->
<configuration>
	<!--
    Описание изменений web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=235367.

    Следующие атрибуты можно установить с помощью тега <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.6.1" requestValidationMode="2.0"/>
		<customErrors mode="Off"/>
		<pages validateRequest="false"/>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:latest /nowarn:1659;1699;1701"/>
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<handlers>
			<add name="data" verb="*" path="data/*.dbo" type="TihieZori.JsonGateway,TihieZori"/>
			<add name="dataf" verb="*" path="dataf/*.dbo" type="TihieZori.JsonGateway,TihieZori"/>
			<add name="cust" verb="*" path="cust/*.dbo" type="TihieZori.JsonGateway,TihieZori"/>
			<add name="head" verb="*" path="head/*.dbo" type="TihieZori.JsonGateway,TihieZori"/>
			<add name="datae" verb="*" path="edit/*.dbo" type="TihieZori.JsonGateway,TihieZori"/>
			<add name="datad" verb="*" path="del/*.dbo" type="TihieZori.JsonGateway,TihieZori"/>
			<add name="dataa" verb="*" path="add/*.dbo" type="TihieZori.JsonGateway,TihieZori"/>
			<add name="docload" verb="*" path="docload" type="TihieZori.Code.DocumentLoad, TihieZori"/>
			<add name="datapath" verb="*" path="datapath" type="TihieZori.ClassJsonData,TihieZori"/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>
		<rewrite>
			<rules>
				<rule name="Imported Rule 1" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false"/>
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTP_HOST}" pattern="^www\.(.+)$"/>
					</conditions>
					<action type="Redirect" url="http://{C:1}/{R:1}" redirectType="Permanent"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>